:root {
  --colour1: #2d62d4;
  --colour2: #94b7eb;
  --speed: 4s;
}


@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}


.progressbar-bar {
    box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
    background-color: var(--colour2);
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      var(--colour1) 20px,
      var(--colour1) 40px
    );

    animation: slide var(--speed) linear static;
    will-change: background-position;
  }


    